@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <style>
        body {
            background-color: #d3f2ce; /* Cambia el color de fondo a verde pastel */
        }

        .text-center {
            text-align: center;
        }

        .custom-message {
            font-family: Arial, sans-serif; /* Cambia el tipo de letra */
            padding: 10px; /* Añade algo de espacio alrededor del mensaje */
        }
    </style>
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">Daniel A. Vizcarra</h1>
        <p class="custom-message">Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
</body>
</html>
